
#  Загружаем и обрабатываем таблицы с кривыми данными.
Таблицы букмекерской онлайн-конторы.

In [19]:
import pandas as pd

log = pd.read_csv('E:\Загрузки\файлы для анализа\cleaning_data/log.csv', header = None)
users = pd.read_csv('E:\Загрузки\файлы для анализа\cleaning_data/users.csv', encoding = "koi8_r", sep="\t")
# именуем столбцы
log.columns = ['user_id', 'time', 'bet', 'win']
users.columns = ['user_id', 'email', 'geo']

#  Изучаем данные

In [20]:
display(log.info())
display(log.user_id)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  1000 non-null   object
 1   time     985 non-null    object
 2   bet      485 non-null    float64
 3   win      138 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.4+ KB

None

0      Запись пользователя № - user_919
1      Запись пользователя № - user_973
2      Запись пользователя № - user_903
3      Запись пользователя № - user_954
4      Запись пользователя № - user_954
                     ...
995    Запись пользователя № - user_984
996                              #error
997                              #error
998                              #error
999                              #error
Name: user_id, Length: 1000, dtype: object

# удаляем строки с ошибками и преобразовываем данные

In [21]:
# шаг 1 - сначала уберём строки с ошибкой
log = log[~log.user_id.str.contains('#error', na=False)]
# шаг 2 - вырежем подстроку с id
x = log.user_id[0].index('u')
log.user_id = log.user_id.str.slice(x)
log.user_id

0      user_919
1      user_973
2      user_903
3      user_954
4      user_954
         ...
991    user_965
992    user_967
993    user_973
994    user_977
995    user_984
Name: user_id, Length: 985, dtype: object

# шаг 3

In [22]:
print(log.time, 'кривое время')
log.time = log.time.str.slice(1) # убираем лишний символ
log.time = pd.to_datetime(log.time) # преобразуем в формат даты
display(log.info())
display(log.head(15))

0      [2019-01-01 14:06:51
1      [2019-01-01 14:51:16
2      [2019-01-01 16:31:16
3      [2019-01-01 17:17:51
4      [2019-01-01 21:31:18
               ...
991    [2019-04-20 12:55:41
992    [2019-04-20 14:59:36
993    [2019-04-20 17:09:56
994    [2019-04-20 18:10:07
995     [2019-04-20 9:59:58
Name: time, Length: 985, dtype: object кривое время
<class 'pandas.core.frame.DataFrame'>
Int64Index: 985 entries, 0 to 995
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  985 non-null    object
 1   time     985 non-null    datetime64[ns]
 2   bet      472 non-null    float64
 3   win      133 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 70.8+ KB

None

     user_id                time       bet        win
0   user_919 2019-01-01 14:06:51       NaN        NaN
1   user_973 2019-01-01 14:51:16       NaN        NaN
2   user_903 2019-01-01 16:31:16       NaN        NaN
3   user_954 2019-01-01 17:17:51       NaN        NaN
4   user_954 2019-01-01 21:31:18       NaN        NaN
5   user_917 2019-01-01 23:34:55  156789.0        NaN
6   user_900 2019-01-01 04:37:25       NaN        NaN
7   user_980 2019-01-01 06:31:23       NaN        NaN
8   user_906 2019-01-02 10:57:08       NaN        NaN
9   user_952 2019-01-02 16:55:06       NaN        NaN
10  user_972 2019-01-02 20:47:54       NaN        NaN
11  user_966 2019-01-02 21:32:20       NaN        NaN
12  user_964 2019-01-02 21:32:35       NaN        NaN
13  user_978 2019-01-02 05:25:40       NaN        NaN
14  user_917 2019-01-02 08:57:36  145732.0  1987653.0