# Получаем данные

In [267]:
import pandas as pd
dates=pd.read_csv('E:\Загрузки\файлы для анализа\movies_data/dates.csv', sep = ',')
movies=pd.read_csv('E:\Загрузки\файлы для анализа\movies_data/movies.csv', sep = ',')
ratings1=pd.read_csv('E:\Загрузки\файлы для анализа\movies_data/ratings1.csv', sep = ',')
ratings2=pd.read_csv('E:\Загрузки\файлы для анализа\movies_data/ratings2.csv', sep = ',')

#знакомимся с данными
display(dates.info())
display(movies.info())
display(ratings1.info())
display(ratings2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    100836 non-null  object
dtypes: object(1)
memory usage: 787.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40001 entries, 0 to 40000
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   userId   40001 non-null  int64
 1   movieId  40001 non-null  int64
 2   rating   40001 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 937.6 KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60836 entries, 0 to 60835
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   userId   60836 non-null  int64
 1   movieId  60836 non-null  int64
 2   rating   60836 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.4 MB

None

# Описание данных

In [268]:
#ratings1 и ratings2 — части одной таблицы с данными выставленных пользователями оценок для фильмов.
#userId — уникальный идентификатор пользователя, который выставил оценку.
#movieId — уникальный идентификатор фильма;
#rating — рейтинг фильма.
#dates — таблица с датами выставления всех оценок.
#date — дата и время выставления оценки фильму.
#movies — таблица с информацией о фильмах.movies — таблица с информацией о фильмах.
#movieId — уникальный идентификатор фильма.
#title — название фильма и год его выхода.
#genres — жанры фильма.

# Работа с кодом

In [269]:
# Объединим таблицы по строкам
ratings = pd.concat(
    [ratings1, ratings2],
    ignore_index=True,
)
display(ratings)
print('Число строк в таблице ratings: ', ratings.shape[0])
print('Число строк в таблице dates: ', dates.shape[0])
print(ratings.shape[0] == dates.shape[0])

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100832     610   166534     4.0
100833     610   168248     5.0
100834     610   168250     5.0
100835     610   168252     5.0
100836     610   170875     3.0

[100837 rows x 3 columns]

Число строк в таблице ratings:  100837
Число строк в таблице dates:  100836
False

In [270]:
# Удалим дубли. Я понял, что они есть, посмотрев на разное количество строк ratings и dates
ratings.drop_duplicates(ignore_index=True, inplace = True)
display(ratings)

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

# Объединяем таблицы ratings и dates по столбцам.

In [271]:
ratings_dates = pd.concat([ratings, dates], axis=1)
display(ratings_dates)

        userId  movieId  rating                 date
0            1        1     4.0  2000-07-30 18:45:03
1            1        3     4.0  2000-07-30 18:20:47
2            1        6     4.0  2000-07-30 18:37:04
3            1       47     5.0  2000-07-30 19:03:35
4            1       50     5.0  2000-07-30 18:48:51
...        ...      ...     ...                  ...
100831     610   166534     4.0  2017-05-03 21:53:22
100832     610   168248     5.0  2017-05-03 22:21:31
100833     610   168250     5.0  2017-05-08 19:50:47
100834     610   168252     5.0  2017-05-03 21:19:12
100835     610   170875     3.0  2017-05-03 21:20:15

[100836 rows x 4 columns]

# Объединяем таблицы ratings_dates и movies

In [272]:

joined = ratings_dates.join(
    movies.set_index('movieId'),
    on='movieId',
    how='left'
)
display(joined.head())

,userId,movieId,rating,date,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

#  Другой способ

In [273]:
merged = ratings_dates.merge(
    movies,
    on='movieId',
    how='left'
)
display(merged.head())

,userId,movieId,rating,date,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

# Проверка

In [274]:
print('Число строк в таблице ratings_dates: ', ratings_dates.shape[0])
print('Число строк в таблице merged: ', merged.shape[0])
print(ratings_dates.shape[0] == merged.shape[0])

Число строк в таблице ratings_dates:  100836
Число строк в таблице merged:  100836
True